.cont-title-body{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-left: 14rem;
    padding-right: 14rem;
}

.cont-body-section-one{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.cont-body-section-two{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
}


@media (max-width: 390px){
    .cont-title-body{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .cont-body-section-one{
        display: flex;
        flex-direction: column;
    }

    .res-m{
        margin-top: 1.5rem;
    }

    .cont-body-section-two{
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 412px){
    .cont-title-body{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .cont-body-section-one{
        display: flex;
        flex-direction: column;
    }
    .res-m{
        margin-top: 1.5rem;
    }

    .cont-body-section-two{
        display: flex;
        flex-direction: column;
    }
}