.cont-people{
    background: #fff;
}

.carousel{
    padding-top: 3rem;
}

.carousel-image{
    width: 50%;
    height: 40%;
}

.cont-people-image{
    background-image: url('../../../assets/peopleImage.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.people-image{
    width: 100%;
}
.cont-people-info{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #fff;
}

.people-section{
    width: 50%
}

.people-info{
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.cont-people-info-two{
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
}

.cont-people-image-one{
    width: 50%;
}

.people-image-one{
    width:40rem;
}

.people-text-info-two{
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    width: 50%;
}
