@media (max-width: 860px) {
    .about-cont-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about-text{
        width: 90%;
    }
}