.link{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.link::after{
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.link:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.cont-header{
    background: #3672b5;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-icon{
    width: 30%;
}

.header-items{
    display: flex;
    width: 70%;
}

.navLabel, .navInput{
    display: none;
  }

@media (max-width: 730px){

    .cont-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .navLabel{
        display: block;
        cursor: pointer;
        margin-right: 2rem;
    }

    .header-items{
        z-index: 0;
        position: absolute;
        top: 96px;
        bottom: 0;
        background: #3672b5;
        width: 100%;
        overflow-y: hidden;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out
    }


    .navInput:checked + .header-items{
        clip-path: circle(100% at center);

    }
}

@media (max-width: 500px){
    .navLabel{
        margin-right: 1rem;
    }
}