.link{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
}

.cont-header{
    background: #3672b5;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-icon{
    width: 30%;
}

.header-items{
    display: flex;
    width: 70%;
}

@media (max-width: 412px){
    /* .header-items{
        display: none;
    } */
}